<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Fyou.mapper.AnswerMapper">
	<select id="selectAskList" resultType="ask">
	select a.* 
		from ( select rownum ru, r.* 
			   from tim_ask r 
		 	   where buyer_id = #{buyer_id}
			   order by 2 desc) a 
	where a.ru > (#{page} - 1) * 5 
	<![CDATA[
	and a.ru <= #{page} * 5 
	]]>
	</select>
	
	<select id="selectAnswer" resultType="answer">
	select seq_answer, 
	       ask_num, 
	       answer, 
	       seller_id, 
	       answer_date 
	from tim_answer
	where ask_num = #{seq_ask}
	</select>
	
	<delete id="deleteAsk" parameterType="int">
	delete from tim_ask 
	where seq_ask = #{seq_ask}
	</delete>
	
	<insert id="insertAsk" parameterType="ask">
	insert into tim_ask (seq_ask, 
                         goods_num, 
                         ask, 
                         buyer_id) 
	values (seq_ask.nextVal, 
	     	#{goodsNum}, 
   			#{ask}, 
     		#{buyerId})
	</insert>
	
	<select id="selectAskGoods" resultType="ask" parameterType="int">
	select a.* 
		from ( select rownum ru, r.* 
			   from tim_ask r 
		 	   where goods_num = #{goods_num}
			   order by 2 desc) a 
	where a.ru > (#{page} - 1) * 5 
	<![CDATA[
	and a.ru <= #{page} * 5 
	]]>
	</select>
	
	<delete id="deleteAnswer" parameterType="int">
	delete from tim_answer 
	where seq_answer = #{seq_answer}
	</delete>
	
	<update id="updateAsk">
		update tim_ask
		set ask = #{ask}, 
		    ask_date = sysdate
		where seq_ask = #{seq_ask}
	</update>
	
	<update id="updateAnswer">
		update tim_answer
		set answer = #{answer}, 
		    answer_date = sysdate
		where ask_num = #{seq_answer}
	</update>
	
	<insert id="insertAnswer" parameterType="answer">
	insert into tim_answer (seq_answer, 
                         ask_num, 
                         answer, 
                         seller_id) 
	values (seq_answer.nextVal, 
	     	#{askNum}, 
   			#{answer}, 
     		#{sellerId})
	</insert>
	
	<select id="askTotalCnt" parameterType="int">
		select count(1)
		from   tim_ask
		where  goods_num = #{goods_num}
	</select>
	
	<select id="selectAskSellerlist" >
		select seq_ask, goods_num, ask, buyer_id, ask_date 
		from tim_goodsinfo 
		join tim_ask 
		on seq_goods = goods_num 
		where goods_mid = #{seller_id}
		order by 1 desc
	</select>
</mapper>