<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Fyou.mapper.CategoriMapper">

	<select id="selectTcate" parameterType="String" resultType="categori">
		select *
		from   tim_categori
		where  t_cate = #{Tcate}
	</select> 
	
	<select id="selectBcate" parameterType="String" resultType="categori">
		select *
		from   tim_categori
		where  b_cate = #{Bcate}
	</select> 
</mapper>