<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.Fyou.mapper.ImgMapper">
	<!-- 업로드한 사진 순서대로 가져오기 -->
	<select id="images" parameterType="int" resultType="img" >
		select   *
		from     tim_img
		where    goods_num = #{goodsNum}
		order by seq_img
	</select>
	
	<insert id="insertImages" parameterType="img" >
		insert into tim_img(seq_img,
							goods_num,
							img_url)
		values (seq_img.nextVal,
				#{goodsNum},
				#{imgUrl})
	</insert>
	
	<update id="updateImage" parameterType="img">
		update tim_img 
		set img_url = #{imgUrl} 
		where seq_img = #{seqImg} 
	</update>
	
	<delete id="deleteImage" parameterType="int">
	delete tim_img 
	where seq_img = #{seq_img}
	</delete>
</mapper>