<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.Fyou.mapper.ImgMapper">
	<!-- 업로드한 사진 순서대로 가져오기 -->
	<select id="images" parameterType="int" resultType="img" >
		select   *
		from     tim_img
		where    goods_num = #{goodsNum}
		order by seq_img
	</select>
	
	<insert id="insertImages" parameterType="img" >
		insert into tim_img(seq_img,
							goods_num,
							img_url)
		values (seq_img.nextVal,
				#{goodsNum},
				#{imgUrl})
	</insert>
	
	<!-- 상품번호를 이용해 썸네일 이미지 가져오기 -->
	<select id="thumbnail" parameterType="int" resultType="img">
		SELECT 	seq_img,
       			goods_num,
       			img_url
		FROM 
				(
					SELECT ROWNUM ru, 
						   r.*
					FROM
						   (SELECT *
							FROM   tim_img
							WHERE  goods_num = #{goodsNum}
							ORDER BY seq_img, goods_num
						   ) r
				 )
		WHERE ru = 1
	</select>
</mapper>