<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="config/db.properties"/>
	
	<settings>
	<setting name="mapUnderscoreToCamelCase" value="true"/>
	<setting name="jdbcTypeForNull" value="NULL"/>	<!-- sql데이터 없으면 null 넣어줌 -->
	<setting name="cacheEnabled" value="false"/><!-- 캐쉬 없애는거 -->
	<setting name="localCacheScope" value="STATEMENT"/>
	</settings>
	
	<typeAliases>


		<typeAlias alias="member" type="com.Fyou.vo.MemberVO"/>
		<typeAlias alias="cart" type="com.Fyou.vo.CartVO"/>
		<typeAlias alias="order" type="com.Fyou.vo.OrderVO"/>
		<typeAlias alias="review" type="com.Fyou.vo.ReviewVO"/>
		<typeAlias alias="ask" type="com.Fyou.vo.AskVO"/>
		<typeAlias alias="answer" type="com.Fyou.vo.AnswerVO"/>
		<typeAlias alias="goodsinfo" type="com.Fyou.vo.GoodsinfoVO"/>
		<typeAlias alias="img" type="com.Fyou.vo.ImgVO"/>
		<typeAlias alias="categori" type="com.Fyou.vo.CategoriVO"/>
		

		<!-- 
		
		
		 -->
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
	

		
		
		<mapper resource="com/Fyou/mapper/MemberMapper.xml" />
		<mapper resource="com/Fyou/mapper/CartMapper.xml" />
		<mapper resource="com/Fyou/mapper/OrderMapper.xml" />
		<mapper resource="com/Fyou/mapper/ReviewMapper.xml" />
		<mapper resource="com/Fyou/mapper/MemberMapper.xml" />
		<mapper resource="com/Fyou/mapper/AnswerMapper.xml" />
		<mapper resource="com/Fyou/mapper/GoodsinfoMapper.xml" />
		<mapper resource="com/Fyou/mapper/CategoriMapper.xml" />
		<mapper resource="com/Fyou/mapper/ImgMapper.xml" />
		
		
		<!-- 
		<mapper resource="com/Fyou/mapper/AskMapper.xml" />
				
		 -->	
		
	</mappers>
</configuration>